* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 600px;
}

.homepageimage {
	background: url("https://punyshort.ga/assets/images/homepagebackground.svg");
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	padding: 40px 20px;
}



.nav_not_scrolled a,
.nav_not_scrolled a:link,
.nav_not_scrolled a:visited {
	color: #FFFFFF;
}

#shortlinkerroralert {
	background: #ed3e3e;
	color: #FFFFFF;
	padding: 10px 20px;
	max-width: 960px;
	border-radius: 10px;
	margin: 0px auto;
	box-sizing: border-box;
}

.sectioned-part {
	display: flex;
	width: 80%;
	margin: 120px auto;
}

.sectioned-part img {
	width: 350px;
	max-width: 30%;
	margin-right: 40px;
}

#top-what-is-punyshort-image {
	width: 350px;
}

#whats-punyshort div {
	padding-top: 100px;
}

#features-list {
	display: flex;
	width: fit-content;
	margin: auto;
}

#features-list div {
	display: block;
	margin: 0px 30px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 20px;
	width: 200px;
}

#features-list div img {
	display: block;
	width: 200px;
	margin-bottom: 40px;
}

#features-list div span {
	font-size: 20px;
}

#features-list div h5 {
	font-size: 18px;
	margin-bottom: 10px;
	color: #FFFFFFDD;
}

.shortlink {
    background: #FFFFFF;
    max-width: 960px;
    display: flex;
    border-radius: 10px;
	margin: 0px auto;
	height: 50px;
}

.shortlinkinput {
    width: calc(100% - 100px);
    border: none;
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 20px;
    border: #FFFFFF solid 2px;
	box-sizing: border-box;
	height: 50px;
}

#shortlinkdomain {
    background: transparent;
    border: none;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 18px;
    color: #111111;
	height: 50px;
}

.shortlinkinput:focus {
    border: #105DE6 solid 2px;
}

.shortlinksubmit {
    padding: 15px 25px;;
    background: #105de6;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    border-radius: 0px 9.8px 9.8px 0px;
    background: #105de6;
    background: -moz-linear-gradient(left,  #105de6 0%, #2290e5 100%);
    background: -webkit-linear-gradient(left,  #105de6 0%,#2290e5 100%);
    background: linear-gradient(to right,  #105de6 0%,#2290e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105de6', endColorstr='#2290e5',GradientType=1 );
	height: 50px;
}

@media screen and (max-width: 720px) {
	#features-list {
		display: block;
	}

	#features-list div {
		display: block;
		margin: 30px 0px;
		width: 90%;
	}

	#features-list div img {
		margin: auto;
		width: 65%;
	}

	#top-what-is-punyshort-image {
		display: none;
	}
}
